<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="POST">
        <div class="form-group">
          <label for="nameTextField">Assessment</label>
          <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Name of the Assessment" name="assessment" value="<%= schedule.assessment %>" required>
        </div>

        <div class="form-group">
          <label for="authorTextField">Deadline</label>
          <input type="text" class="form-control" id="authorTextField" placeholder="Enter the deadline" name="author" value="<%= schedule.deadline %>" required>
        </div>

        <div class="form-group">
          <label for="publishedTextField">Class</label>
          <input type="text" class="form-control" id="publishedTextField" placeholder="Enter the name of the class" name="published" value="<%= schedule.class %>" required>
        </div>

        <div class="form-group">
          <label for="descTextField">Description</label>
          <textarea type="text" class="form-control" id="descriptionTextField" placeholder="Enter the description of how you are going to study" name="description" required> <%= schedule.description %> </textarea>
        </div>

        <br>
        <button class="btn-btn-primary" type="submit">
          <i class="fas fa-pencil-alt"></i> Submit </button>

        <a href="/schedule-list" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel</a>
      </form>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>