<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="cold-md-offset-3 col-md-10">
      <h1><%= title %></h1>
      <a href="/schedule-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Schedule </a>
      <br>
      <br>
      <table class="table table-bordered table-striped table-hover">
        <tr class="d-flex">
          <th class="text-center col-2">Assessment</th>
          <th class="text-center col-2">Deadline</th>
          <th class="text-center col-1">Class</th>
          <th class="text-center col-5">Description</th>
          <th class="text-center col-1"></th>
          <th class="text-center col-1"></th>
        </tr>
        <!-- Repeat the template -->
        <% for(let count=0; count<Schedulelist.length; count ++) { %>
        <tr class="d-flex">
          <td class="text-center col-2"><%= Schedulelist[count].assessment %></td>
          <td class="text-center col-2"><%= Schedulelist[count].deadline %></td>
          <td class="text-center col-1"><%= Schedulelist[count].class %></td>
          <td class="text-center col-5"><%= Schedulelist[count].description %></td>


          <td class="text-center col-1">
              <a href="/schedule-list/edit/<%= Schedulelist[count]._id %>"
                class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i> Edit </a>
          </td>

          <td class="text-center col-1">
              <a href="/schedule-list/delete/<%= Schedulelist[count]._id %>"
                class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete </a>
          </td>
        </tr>

        <% } %>
      </table>
    </div>


  </div>
</main>



<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>